<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telehealthcare</title>
    <link rel="stylesheet" href="/style2.css">
    
</head>

<body>
    <header>
        <nav>
            <div class="logo">Tele Healthcare</div>
            <div class="menu">
                
                <a href="/doctor">CHATBOT</a>
                <a href="/lungs">LUNG DISEASE ANALYZER</a>
                <a href="/ortho">ORTHOPAEDIC ANALYZER</a>
                
                <a href="/">LOGOUT</a>
            </div>
        </nav>
    </header>
        <div class="carousel">
            <div class="list">
                <!-- Item 1 -->
                <div class="item">
                    <img src="pexels-karolina-grabowska-7195308.jpg" alt="TeleHealthCare Image 1">
                    <div class="content">
                        <div class="author"></div>
                        <div class="title">NEERAJ</div>
                        <div class="topic"> HOSPITAL</div>
                        
                        <button id="seeMore1" class="see-more-button">Get Appointment</button>
                    </div>
                </div>
                <!-- Item 2 -->
                <div class="item">
                    <img src="pexels-tima-miroshnichenko-8376295.jpg" alt="TeleHealthCare Image 2">
                    <div class="content">
                        <div class="author"></div>
                        <div class="title">SKR</div>
                        <div class="topic">HOSPITAL</div>
                        
                        <button id="seeMore2" class="see-more-button">Get Appointment</button>
                    </div>
                </div>
                <!-- Item 3 -->
                <div class="item">
                    <img src="imge3.jpg" alt="TeleHealthCare Image 3">
                    <div class="content">
                        <div class="author"></div>
                        <div class="title">MKM </div>
                        <div class="topic">HOSPITAL</div>
                         
                        <button id="seeMore3" class="see-more-button">Get Appointment</button>
                    </div>
                </div>
            </div>
            <!-- Thumbnail -->
            <div class="thumbnail">
                <!-- Thumbnail Items -->
                <div class="item">
                    <img src="pexels-karolina-grabowska-7195308.jpg" alt="Neeraj Hospital">
                    <div class="content">
                        <div class="title"></div>
                        <div class="des">DOCTOR CONSULTANCY</div>
                    </div>
                </div>
                <div class="item">
                    <img src="pexels-tima-miroshnichenko-8376295.jpg" alt="Hospital 2">
                    <div class="content">
                        <div class="title"></div>
                        <div class="des">DOCTOR CONSULTANCY</div>
                    </div>
                </div>
                <div class="item">
                    <img src="image2.jpg" alt="Hospital 3">
                    <div class="content">
                        <div class="title"></div>
                        <div class="des">DOCTOR CONSULTANCY</div>
                    </div>
                </div>
            </div>
            <!-- Arrows -->
            <div class="arrows">
                <button id="prev"><</button>
                <button id="next">></button>
            </div>
            <div class="time"></div>
        </div>
    </form>

    <!-- Script tags -->
    <script src="app1.js" defer></script>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>
