<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telehealthcare </title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Tele Healthcare</h1>
        <nav>
            <ul>
                <li><a href="/login">login</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="service">Services</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <h2>Welcome to Tele Healthcare</h2>
        <p>Providing remote healthcare services for your convenience.</p>
        
    </section>

    <footer>
        <p>&copy; 2024 Tele Healthcare. All rights reserved.</p>
    </footer>
</body>
</html>
