<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orthopaedic Analyzer</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>ORTHOPAEDIC ANALYZER</h1>
        </div>
        <div class="form-container">
            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" name="image" id="imageInput" accept="image/*" required>
                <button type="submit">Upload</button>
            </form>
        </div>
         <div class="result-container">
            <h2>Result</h2>
            <div id="result"></div>
        </div>
    </div>  
  <script src="client1.js"></script>

</body>
</html>
