<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telehealthcare Registration</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- Login container -->
    <div class="Register">
        <!-- Logo/title -->
        <div class="title">Tele Healthcare</div>
        <!-- Welcome message -->
        <div class="des">Registration</div>
        {{#if msg}}
        <p class="{{msg_type}}">{{msg}}</p>
        {{/if}}
        <!-- Registration form -->
        <form action="/auth/register" method="post">
            <div class="group">
                <input type="text" id="name" name="name" placeholder="Enter name" required>
            </div>
            <div class="group">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <!-- Password input with show/hide functionality -->
            <div class="group">
                <input type="password" id="password" name="password" placeholder="Password" required>
                <span class="showPassword" onclick="togglePassword(this)"></span>
            </div>
            <div class="group">
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
                <span class="showPassword" onclick="togglePassword(this)"></span>
            </div>
            <!-- Sign Up button -->
            <div class="signIn">
                <button type="submit">Sign Up</button>
            </div>
            <!-- Or continue with text -->
            <div class="group">
                Already a member? <a href="/">Login</a>
            </div>
        </form>
    </div>

    <!-- Script tags -->
    <script>
        function togglePassword(element) {
            const passwordInput = element.previousElementSibling;
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>

    <script src="app.js" defer></script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>
