body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    text-align: center;
    padding: 0;
}

.container {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-right: 350px;
    text-align:center;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
button[type="submit"] {
    width: calc(30% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
    outline: none;
    border-color: #007bff;
}

button[type="submit"] {
    width: 20%;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 40px;
    box-sizing: border-box;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}
